---
import { FaRegUser, FaGithub, FaInstagram, FaLinkedin } from "react-icons/fa";

import { SOCIALS } from "@consts";

import Container from "@components/Container/Container.astro";
import { cn } from "@lib/utils";

const classes = {
  link: cn("group size-8 flex items-center justify-center rounded-full hover:text-info transition-colors duration-300 ease-in-out"),
};
---

<footer class="animate py-5 text-sm mt-auto">
  <Container>
    <div class="flex justify-between items-center">
      <div>
        &copy; {new Date().getFullYear()}
      </div>
      <div class="flex flex-wrap gap-1 items-center">
        <a aria-label="Instagram" href={SOCIALS[0].HREF} class={classes.link} target="_blank">
          <FaInstagram />
        </a>

        <a aria-label="GitHub" href={SOCIALS[1].HREF} class={classes.link} target="_blank">
          <FaGithub />
        </a>

        <a aria-label="LinkedIn" href={SOCIALS[2].HREF} class={classes.link} target="_blank">
          <FaLinkedin />
        </a>

        <a aria-label="User" href={SOCIALS[3].HREF} class={classes.link} target="_blank">
          <FaRegUser />
        </a>
      </div>
    </div>
  </Container>
</footer>
