---
import { FaRegUser, FaGithub, FaInstagram, FaLinkedin } from "react-icons/fa";

import { SOCIALS } from "@consts";

import Container from "@components/Container/Container.astro";
import { cn } from "@lib/utils";

const classes = {
  link: cn("flex items-center justify-center text-info hover:text-info-content ease-in-out"),
};
---

<footer class="animate pb-5 text-3xl">
  <Container>
    <div class="flex justify-center items-center">
      <div class="flex flex-wrap gap-4 items-center">
        <a aria-label="Instagram" href={SOCIALS[0].HREF} class={classes.link} target="_blank">
          <FaInstagram />
        </a>

        <a aria-label="GitHub" href={SOCIALS[1].HREF} class={classes.link} target="_blank">
          <FaGithub />
        </a>

        <a aria-label="LinkedIn" href={SOCIALS[2].HREF} class={classes.link} target="_blank">
          <FaLinkedin />
        </a>

        <a aria-label="User" href={SOCIALS[3].HREF} class={classes.link} target="_blank">
          <FaRegUser />
        </a>
      </div>
    </div>
  </Container>
</footer>
